<style lang="scss" scoped>
@import "./styles.scss";
</style>

<script lang="ts" setup>
import { RouteRecordName, useRouter } from "vue-router";
import { reactive } from "vue";

const menuItems = [
  /*** MENU_ITEMS ***/
];

const router = useRouter();
const state = reactive({ selectedMenu: menuItems[0].id });

router.afterEach((to) => (state.selectedMenu = String(to.name)));
</script>

<template>
  <div class="container-main-menu">
    <h1>
      <div v-for="text in ['Tom', 'do', 'Pedal']" :key="text">{{ text }}</div>
    </h1>
    <ul class="main-menu-list">
      <li
        v-for="item in menuItems"
        :key="item.id"
        :class="`main-menu-item ${
          state.selectedMenu === item.id ? 'container-selected-menu' : ''
        }`"
      >
        <router-link :to="item.link">{{ item.label }}</router-link>
      </li>
    </ul>
  </div>
</template>