.container-main-menu {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  ul.main-menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;

    li.main-menu-item {
      a {
        color: black;
        text-decoration: none;
        padding: 3px;
        transition: 0.3s;
  
        &:hover {
          background-color: gray;
          color: white;
        }
      }

      &.container-selected-menu a {
        background-color: black;
        color: white;
        transition: 0.3s;

        &:hover {
          color: gray;
        }
      }
    }
  }
}