<script lang="ts">
export default {
  name: "tom-do-pedal--_____COMPONENT.ELEMENT-CLASS_____",
  inheritAttrs: false,
  customOptions: {},
};
</script>

<script lang="ts" setup>
import { onBeforeMount, reactive } from "vue";

import ErrorAdvice from "../components/ErrorAdvice.vue";
import MfLoading from "../components/MfLoading.vue";

const states = reactive<{ hasError: boolean; isLoading: boolean }>({
  hasError: false,
  isLoading: true,
});

onBeforeMount(async () => {
  try {
    const { mount } = await import("_____COMPONENT.PATH_____");
    mount("._____COMPONENT.ELEMENT-CLASS_____");

    states.hasError = false;
  } catch (e) {
    states.hasError = true;
  } finally {
    states.isLoading = false;
  }
});
</script>

<template>
  <div class="_____COMPONENT.ELEMENT-CLASS_____--container">
    <div
      v-if="!states.hasError"
      class="_____COMPONENT.ELEMENT-CLASS_____"
    ></div>
    <ErrorAdvice v-else id="_____MENU.LABEL_____" />

    <MfLoading v-if="states.isLoading" />
  </div>
</template>