<script lang="ts">
import MainMenu from "./components/MainMenu/MainMenu.vue";
export default {
  name: "tom-do-pedal--container",
  inheritAttrs: false,
  customOptions: {},
  components: {
    MainMenu,
  },
};
</script>

<template>
  <div>
    <MainMenu />
    <router-view class="tom-do-pedal--router-view" />
  </div>
</template>